<!-- views/cadastroUsuario.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Cadastro de Usuário</h1>
    
    <form action="/cadastrarUsuario" method="post">
       
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        
        <label for="dataNascimento">Data de Nascimento:</label>
        <input type="date" id="dataNascimento" name="dataNascimento" required>
        
        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname" required>

        
        <button type="submit">Cadastrar</button>
    </form>
   
    <h2>Usuários Cadastrados</h2>
    <ul>
        <% for (const usuario of usuarios) { %>
            <li><%= usuario.nome %> - <%= usuario.nickname %></li>
        <% } %>
    </ul>
   
    <a href="/">Voltar para o Menu</a>
    <a href="/batePapo">Ir para o Bate-papo</a>
</body>
</html>
